.mgl-25 {
    margin-left: 25px;
}

.mgr-25 {
    margin-right: 25px;
}

.width-100 {
    width: 100%;
}

.form-control {
    width: 100%;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: black;
}