.paddind-left-30 {
    padding-left: 30px;
}

.paddind-down-20 {
    padding-down: 20px;

}

.avatar {
    margin-bottom: 30px;
    width: 150px;
    height: 150 pxAdmin Head
    padding-bottom: 90px;
    border-bottom-width: 30px;
}
