
.chartsize1 {
    left: -75px;
    height: 740px;
    width: 800px;
}

.chartsize2 {

    height: 740px;
    width: 1000px;
}

@media (max-width: 450px) {
    .chartsize1 {
        height: 350px;
        width: 350px;
    }

    .chartsize2 {
        height: 900px;
        width: 350px;
    }
}

@media (max-width: 650px) and (min-width: 451px) {
    .chartsize1 {
        height: 600px;
        width: 600px;
    }

    .chartsize2 {
        height: 900px;
        width: 600px;
    }
}

@media (max-width: 1500px) and (min-width: 651px) {
    .chartsize1 {
        height: 900px;
        width: 900px;
    }

    .chartsize2 {
        height: 900px;
        width: 900px;
    }
}