.semi-transparent {
    background: rgba(0, 0, 0, 0.2);
}

.full-transparent {
    background: rgba(0, 0, 0, 0);
}

img {
    max-width: 100%;
    height: auto;
    width: auto \9; /* ie8 */
}

@media (max-width: 1080px) {
    .semi-transparent {
        background: black;
    }

    img {
        max-width: 75%;
        height: auto;
        width: auto \9; /* ie8 */
    }

    body {
        background: black;
    }
}


