.form-control {
    display: block;
    width: 350px;
    padding: 0.175rem 0.175rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (max-width: 900px) {
    .form-control {
        width: 150px;
    }
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: rgb(240, 240, 240);
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: #f7fffc;
/ / Choose your own color here
}

table.dataTable thead tr {
    background-color: #010044;
    color: white;
}

.border-table {
    border-bottom: 1pt solid rgb(240, 240, 240);
    border-left: 1pt solid rgb(240, 240, 240);
    border-right: 1pt solid rgb(240, 240, 240);
}

.btn {
    padding: .33rem .64rem;
    margin: -4px;
}

select.form-control-sm:not([size]):not([multiple]), .input-group-sm > select.form-control:not([size]):not([multiple]), .input-group-sm > .input-group-prepend > select.input-group-text:not([size]):not([multiple]), .input-group-sm > .input-group-append > select.input-group-text:not([size]):not([multiple]), .input-group-sm > .input-group-prepend > select.btn:not([size]):not([multiple]), .input-group-sm > .input-group-append > select.btn:not([size]):not([multiple]) {

    height: calc(1.8125rem + 2px);
    width: 35%;

}